body, input, textarea {
    font-family: sans-serif;
    font-size: 18px;
    color: #333;
}

.container {
    margin: 0 auto;
    width: 640px;
}

fieldset {
    border: none;
    margin-top: 2em;
    padding-left: 1em;
}

legend {
    padding-left: 0;
    font-weight: bold;
}

input {
    border: none;
    border-bottom: solid 1px #999;
}

.field-group {
    margin-top: 0.7em;
}
