/* your style goes below */
div.beautiful-field {
	position: relative;
}
label.label {
	position: absolute;
	color: grey;
	font-size: 18px;
	bottom: 0px;
}
label.floated {
	color: black;
	font-size: 10px;
	bottom: 23px;
	transition: all 0.1s;
}